<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Registration_Form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LogIn.Properties.Settings.UsersdataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\usersdata.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="MySql.Data.MySqlClient" />
        <add name="Registration_Form.Properties.Settings.UsersdataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\usersdata.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Registration_Form.Properties.Settings>
            <setting name="StatusReady" serializeAs="String">
                <value>Ready</value>
            </setting>
            <setting name="StatusWorking" serializeAs="String">
                <value>Working...</value>
            </setting>
        </Registration_Form.Properties.Settings>
    </userSettings>
</configuration>
